body{
    background-color:black;
    color: aliceblue;
}


h1{
    color:rgba(231, 15, 87, 0.027);
    text-align:right;
}
 p   {
        color:rgb(15, 228, 68) ;
    }

    img{
        width: 30%;
        display:auto;
        margin:auto;
}
